@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ecfdff;
  --background-dark: #141332;
  --foreground: #a6ddf5;
  --foreground-dark: #1D1D41;
  --text-dark: #FFF;
  --text: #000;
  --activ: #6359E9;
  --text-gray: #A6A6A6;
  --income: #64CFF6;
  --outcome: #6359E9;
  --foreground-text: #AEABD8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e2efff;
    /* --background-dark: #141332;  */
    /* --foreground: #ededed;  */
  }
}

*{
  @apply transition-colors duration-700;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}

@layer components{
  .activ{
    @apply bg-activ;
  }
  .nav-button{
    @apply flex w-[250px] h-[60px] rounded-[10px] items-center pl-4 gap-3;
  }
}